.card{
    /* width: 140px; */
    width: fit-content;
    box-shadow: 3px 0px 15px -5px rgb(80, 80, 80);
    border-radius: 20px;
    padding:  15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn{
    background-color: var(--color-primary);
    color: white;
    padding: 2px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    /* margin-left: 10px; */
}

.Value {
    font-size: 12px;
    min-width: 80px;
}

.product-description {
    font-size: 10px;
    margin: 5px 0;
    text-align: center;
    color: gray;
    max-width: 100px;
}